name: coverage

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]


jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install "flit>=3.2,<4"
        flit install --deps=all --symlink
        
    - name: Test with pytest
      if: always()
      run: |
        pytest --cov=src/tabular_trees/ --cov-report=html --cov-config=.coveragerc
      
    - name: Upload coverage pytest html test results to github
      if: always()    
      uses: actions/upload-artifact@v2
      with:
        name: coverage-html-pytest-results
        path: htmlcov