name: version

on:
  pull_request:
    branches: [ main ]

jobs:
  version_check:
    runs-on: ubuntu-latest
    name: Checks _version.py file has been updated
    steps:
    - name: Version check action
      uses: richardangell/versioning-checker@v2.3
      with:
        tracked_files: '_version.py,CHANGELOG.rst'